@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic,600,700italic,700,600italic);

/*    Reset CSS  */

* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    outline: 0;
    text-decoration: none;
    color: #bbb;
}

img {
    border: 0;
}




/* Basics */

* {
    -webkit-box-sizing: border-box:
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}





/*    From here    */


html {
    
    width:100%;
    height:100%;
}

/* Selected text is highlighted in this color */
p::selection {
    
    color:#111;
    background:#eeff41;
}


body {
   display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
    min-height:100%; 
}

.main {
    height:100%;
    display: flex;
}

.main_side {
    display:flex;
    flex-direction: column;
    
    width:235px;
    background-color:#fff;
        
    
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.25);
	box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

.main_content {
    float: none;
    width:auto;
    background-color: #fafafa;
    
}


.logo {
    width:235px;
    height: 235px;
    padding-top: 46px;
}

.logo img {
    display: block;
    margin-left: auto;    
    margin-right: auto;    
    
    width: 146px;
    height: 146px;
   
}

.side_nav {
    
    
}

.side_nav ul {
    list-style: none;
}

.side_nav ul li {
    padding: 8px 34px;
    display: list-item;
    line-height: 24px;
}

.side_nav a {
    line-height: 34px;
    color:#424242;
    font-weight: 400;
    font-size: 16px;
}

.side_nav a:before {
    content: "\f120";
    padding-right:15px;
    font-family: FontAwesome;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: graysclae;
    
}

.side_nav .btn_interactive {
    font-size:16px;
    color:#ef5350;
}


.top_intro {
    z-index: 5;
    position: relative;
    background-color:#ef5350;
    width:auto;
	height: 250px;
    
   
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.25);
	box-shadow: 0 4px 4px rgba(0,0,0,.25);
    
    
    
}

.top_intro .text {
    width: 750px;
    margin: auto;
    padding-top: 110px;
    
    font-family: 'Source Code Pro';
    color: #fff;
}

.top_intro .section_title {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}

.top_intro .version_date {
    font-weight: 400;
    font-size: 12px;
}

/* How can I make the image get less bigger than height 900??

.main_content_img {
    height: 900px;
}
*/

.main_content_img img {
    bottom:0px;
    margin:auto;
    width:auto;
    max-height: 100%;
}

.section {
    
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    width: 750px;
    margin: auto;
    
    /*
    position: relative;
    width:auto;
    max-width: 760px;
    margin:auto;
    padding-top:40px;
    */
}

.section p {
    font-weight:300;
    font-size: 16px;
    margin-bottom: 24px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
   
}

.section .section_heading {
    font-weight: 400;
    font-size: 24px;
    color: #ef5350;
}

